# Python stuff
.idea/
__pycache__/
.ipynb_checkpoints
profile_default/
ipython_config.py


# Data stuff
OSC_server_python/data/*
OSC_server_python/model/*
OSC_server_python/jupyter
OSC_client_esp32/readme.txt

# test stuff
research.txt
train_data_UU.csv
fft-test
model



